.hero {
  position: relative;
  display: flex;
  justify-content: left;
  color: var(--mantine-color-white);
  background-color: black;
  height: rem(700px);
  max-height: 100vh;
}

.image-container{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: rem(1000px);

  @media (min-width: $mantine-breakpoint-xl) {
    max-width: rem(1300px);
  }
}

.image{
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("/hero2.jpg");
}

.background{
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0) 100%);

  @media (max-width: $mantine-breakpoint-xs) {
    background: rgba(0, 0, 0, 0.5);
  }
}

.inner {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  text-align: left;
  padding: rem(70px);
  max-width: rem(900px);
  height: 100%;
  z-index: 1;

  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
    padding: rem(20px);
  }
}

.title {
  font-weight: 800;
  font-size: rem(40px);
  letter-spacing: -1px;
  margin-bottom: var(--mantine-spacing-xs);

  @media (max-width: $mantine-breakpoint-xs) {
    text-align: left;
    font-size: rem(28px);
  }
}

.description {
  @media (max-width: $mantine-breakpoint-xs) {
    text-align: left;
    font-size: var(--mantine-font-size-md);
  }
}

.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);
  display: flex;
  padding-right: var(--mantine-spacing-md);

  @media (max-width: $mantine-breakpoint-sm) {
    /* flex-direction: column; */
    width: 100%;
  }
}

.control {
  height: rem(42px);
  font-size: var(--mantine-font-size-md);
  background: none;
  color: var(--mantine-color-white);
  border-color: var(--mantine-color-white);
  background: #ffffff44;

  &:not(:first-of-type) {
    margin-left: var(--mantine-spacing-md);
  }

  @mixin hover {
    background-color: var(--mantine-color-violet-1);
    color: var(--mantine-color-violet-9);
  }

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;

    &:not(:first-of-type) {
      margin-top: var(--mantine-spacing-md);
      margin-left: 0;
    }
  }
}