.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url("/hero.png");
  color: var(--mantine-color-white);
}

.wrapper {
  margin-top: rem(56px);
  position: relative;
  padding-top: rem(120px);
  padding-bottom: rem(80px);
}

.inner {
  position: relative;
  text-align: center;
}

.title {
  font-weight: 800;
  font-size: rem(40px);
  letter-spacing: -1px;
  margin-bottom: var(--mantine-spacing-xs);

  @media (max-width: $mantine-breakpoint-xs) {
    text-align: left;
    font-size: rem(28px);
  }
}

.description {
  text-align: center;


  @media (max-width: $mantine-breakpoint-xs) {
    text-align: left;
    font-size: var(--mantine-font-size-md);
  }
}

.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);
  display: flex;
  justify-content: center;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);

  @media (max-width: $mantine-breakpoint-sm) {
    /* flex-direction: column; */
    width: 100%;
  }
}

.control {
  height: rem(42px);
  font-size: var(--mantine-font-size-md);
  background: none;
  color: var(--mantine-color-white);
  border-color: var(--mantine-color-white);
  background: #ffffff44;

  &:not(:first-of-type) {
    margin-left: var(--mantine-spacing-md);
  }

  @mixin hover {
    background-color: var(--mantine-color-violet-1);
    color: var(--mantine-color-violet-9);
  }

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;

    &:not(:first-of-type) {
      margin-top: var(--mantine-spacing-md);
      margin-left: 0;
    }
  }
}