.wrapper{
  width: 100%;
  padding:  calc(var(--mantine-spacing-xl) * 2);
  max-height: 100vh;
  background-color: #f4f4f4;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: var(--mantine-spacing-md);
  }

  @media (min-width: $mantine-breakpoint-xl) {
    padding: calc(var(--mantine-spacing-xl) * 4);
  }
  
}

.card {
  height: rem(350px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  margin: rem(30px);

  @media (max-width: $mantine-breakpoint-sm) {
    margin: rem(30px) 0;
  }
}

.publicaciontitle{
  margin-top: var(--mantine-spacing-xs);
}

.title {
  color: var(--mantine-color-violet-9);
  padding: var(--mantine-spacing-lg) 0;
}

.fecha {
  opacity: 0.7;
  font-weight: 700;
  text-transform: uppercase;
}

.link{
  width: 100%;
}

.encabezado{
  height: auto;
  align-items: center;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.boton{

  @media (max-width: $mantine-breakpoint-sm) {
      width: 100%;
  }
}

.botonabajo{
  margin-top: rem(40px);
  margin-bottom: rem(40px);
  width: 100%;
}