.wrapper{
  background-color: #f4f4f4;
  padding: calc(var(--mantine-spacing-xl) * 2);
  padding-top: var(--mantine-spacing-xl);

  @media (max-width: $mantine-breakpoint-sm) {
    padding: var(--mantine-spacing-md);
  }

  @media (min-width: $mantine-breakpoint-xl) {
    padding: calc(var(--mantine-spacing-xl) * 4);
    padding-top: var(--mantine-spacing-xl);
  }

}

.libro{
  display: flex;
  background-color: var(--mantine-color-white);
  padding: var(--mantine-spacing-md);
  border-radius: 10px;
  box-shadow: .1px .1px 10px .1px #cbcbcb;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.libro .body{
  height: rem(500px); 
  padding: rem(10px);
}

.experiencia{
  display: flex;
  background-color: var(--mantine-color-white);
  padding: var(--mantine-spacing-md);
  border-radius: 10px;
  box-shadow: .1px .1px 10px .1px #cbcbcb;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column-reverse;
  }
}

.experiencia .body{

  @media (max-width: $mantine-breakpoint-sm) {
    padding-left: rem(5px);
  }
}

.image {
  max-width: 40%;
  margin: auto;

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.body {
  padding-left: calc(var(--mantine-spacing-xl) * 4);
  padding-right: calc(var(--mantine-spacing-xl) * 4);
  background-color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xl);
  max-width: 60%;
  height: 100%;

  @media (max-width: $mantine-breakpoint-sm) {
    padding-right: var(--mantine-spacing-xl);
    max-width: 100%;
    padding-left: var(--mantine-spacing-xl);
    margin-top: var(--mantine-spacing-xl);
  }
}

.title {
  color: var(--mantine-color-violet-9);
  padding: var(--mantine-spacing-lg) 0;
}

.controls {
  display: flex;
  margin-top: var(--mantine-spacing-xl);
}

.inputWrapper {
  width: 100%;
  flex: 1;
}

.input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
