.wrapper {
  display: flex;
  align-items: center;
  padding: calc(var(--mantine-spacing-xl) * 2);
  border-radius: var(--mantine-radius-md);
  background-image: linear-gradient(180deg, #ffffff 1%, #ffffff 40%, #f4f4f4 100%);

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    justify-content: space-around;
    padding: var(--mantine-spacing-md);
    height: 100vh;
  }

  @media (min-width: $mantine-breakpoint-xl) {
    padding: calc(var(--mantine-spacing-xl) * 4);
  }
}

.links {
  width: 100%;
  box-shadow: 0.1px 0.1px 5px 0.1px rgba(38, 38, 38, 0.75);
  padding: var(--mantine-spacing-lg);
  border-radius: 10px;

  @media (max-width: $mantine-breakpoint-sm) {
    padding-top: rem(30px);
  }
}

.link{
  text-decoration: none;
  color: var(--mantine-color-violet-9);

  @mixin hover {
    color: var(--mantine-color-violet-4);
  }
}

.card{
  background: var(--mantine-color-gray-1);
}

.body {
  padding-right: calc(var(--mantine-spacing-xl) * 4);

  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xl);
    padding-right: 0;
  }
}

.title {
  color: var(--mantine-color-violet-9);
  padding: var(--mantine-spacing-lg) 0;
}

.controls {
  display: flex;
  margin-top: var(--mantine-spacing-xl);
}

.inputWrapper {
  width: 100%;
  flex: 1;
}

.input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.botones{

    @media (max-width: $mantine-breakpoint-sm) {
        flex-direction: column;
        width: 100%;
    }
}

.boton{

    @media (max-width: $mantine-breakpoint-sm) {
        width: 100%;
    }
}
